
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');


:root {
    /* colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --v-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: var(--pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    /* background-position: -50% 200%, 125% -175%; */
    font-weight: 500;
    font-size: 16px;
}

.card {
    width: 350px;
    /* height: 610px; */
    background-image: url("images/illustration-hero.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    margin: 10vh 0 5em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-sect {
    margin-top: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    padding-top: 15px;
}

.details {
    padding-inline: 2em;
    /* outline: 1px solid red; */
}

.price {
    display: flex;
    /* outline: 1px solid green; */
    justify-content: left;
    border-radius: 0.8em;
    background-color: var(--v-pale-blue);
}

.price > div {
    /* outline: 1px solid red; */
    align-self: center;
    padding-left: 1em;
    /* display: flex;
    justify-content: space-around; */
}

.price > div:last-of-type {
    /* outline: 1px solid blue; */
    padding-inline: 0;
    margin-left: 2.5em;

    /* display: flex;
    justify-content: space-around; */
}

.purple-link {
    color: var(--bright-blue);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    /* outline: 1px solid blue; */
    margin-right: 1em;
}

.gray-link {
    color: var(--desaturated-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    /* outline: 2px solid black; */
}

.last-link {
    font-weight: 800;
}

button {
    width: 100%;
    margin: 2em 0;
    padding: 1em;
    border-radius: 0.8em;
    border: none;
    background-color: var(--bright-blue);
    color: var(--v-pale-blue);
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 700;
    box-shadow: 0 3px 15px -3px var(--bright-blue);
}

button:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: var();
}

h1 {
    font-weight: 700;
}

.plan {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    /* outline: 2px solid black; */
}

span {
    font-size: 1em;
}

.attribution {
    font-size: .8em;
    text-align: center;
    /* margin-top: 2em; */
    margin-bottom: 3em;
    color: hsl(228, 45%, 44%);
}
.attribution a { color: hsl(228, 45%, 44%); }